<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DiscordLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DiscordLauncher.Properties.Settings>
            <setting name="start_discord_on_load" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="minimize_on_startup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="update_listener_thread_auto_startup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="disable_running_in_background_message" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="discord_listener_thread_auto_startup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="kill_discord_process_app_close" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="high_state" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="low_state" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="force_create" serializeAs="String">
                <value>False</value>
            </setting>
        </DiscordLauncher.Properties.Settings>
    </userSettings>
</configuration>